// Variables
$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;
$carousel-item-height: 300px;

// Mixins
@mixin zero-margin($pad-up-dn, $pad-left-right) {
  margin: 0 auto;
  padding: $pad-up-dn $pad-left-right;
}

// Row
.row-header {
  @include zero-margin(0px, 0);
}

.row-content {
  @include zero-margin(50px, 0);
  border-bottom: 1px ridge;
  min-height: 400px;
}

// Footer
.footer {
  background-color: $background-pale;
  @include zero-margin(20px, 0);
}

// Jumbotron
.jumbotron {
  @include zero-margin(70px, 30px);
  background: $background-light;
  color: floralwhite;
}

// Address
address {
  font-size: 80%;
  margin: 0;
  color: #0f0f0f;
}

// Body
body {
  padding: 50px 0 0 0;
  z-index: 0;
}

// Navbar
.navbar-dark {
  background-color: $background-dark;
}

// Tab
.tab-content {
  border-left: 1px solid $lt-gray;
  border-right: 1px solid $lt-gray;
  border-bottom: 1px solid $lt-gray;
  padding: 10px;
}

// Carousel
.carousel {
  background: $background-dark;

  // Item
  .carousel-item {
    height: $carousel-item-height;

    // Image
    img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
    }
  }
}

#carousel-button {
  right: 0;
  position: absolute;
  bottom: 0;
  z-index: 1;
}