/* Body */
body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

/* Navbar */
.navbar-dark {
    background-color: #512DA8;
}

/* Jumbotron */
.jumbotron {
    background-color: #9575cd;
    color: #ffffff;
}

/* Carousel */
.carousel {
    background: #512DA8;
}

.carousel-item {
    height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

#carousel-button {
    right: 0;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

/* Footer */
.footer {
    background-color: #d1c4e9;
}