/* Body */
body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

/* Navbar */
.navbar-dark {
    background-color: #512DA8;
}

/* Jumbotron */
.jumbotron {
    background-color: #9575cd;
    color: #ffffff;
}

/* Tab content */
.tab-content {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 10px;
}

/* Footer */
.footer {
    background-color: #d1c4e9;
}