/* Body */
body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

/* Navbar */
.navbar-dark {
    background-color: #512DA8;
}

/* Jumbotron */
.jumbotron {
    background-color: #9575cd;
    color: #ffffff;
}

/* Footer */
.footer {
    background-color: #d1c4e9;
}